{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'label.translate_title' | trans() | desc("Traduction") }}</h2>

    {% if assets|length %}
        <table>
            <thead>
            <tr>
                <th>{{ 'label.resname' | trans | desc('Id') }}</th>
                <th>{{ 'label.source' | trans | desc('Source') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for asset in assets %}
                <tr>
                    <td>{{ asset.resname }}</td>
                    <td>{{ asset.source }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% for locale in domain.locales %}
            <div class="form-row">
                <label for="fr">{{ locale.name }} ({{ locale.code }})</label>
                <textarea name="fr" id="fr" rows="10"></textarea>
            </div>
        {% endfor %}

        <div>
            <label for="comment">{{ 'label.comment' | trans | desc("Commentaire") }}</label>
            <textarea name="comment" id="comment" rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, doloremque enim excepturi harum libero minima nihil omnis quis quisquam recusandae reiciendis repudiandae tenetur vero! Ad eligendi quam repudiandae rerum ullam!</textarea>
        </div>
    {% else %}
        <p>{{ 'label.no_assets' | trans | desc("Aucun asset n'a encore été ajouté à ce domaine.") }}</p>
    {% endif %}
{% endblock %}
