{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="container-fluid">
        <h2>{{ 'label.translate_title' | trans() | desc("Traduction") }}</h2>

        <div class="top-page-actions">
            <a href="{{ path('asset_add', {'domain': domain.id, 'project': domain.project.id}) }}" title="{{ 'label.add_asset' | trans | desc("Ajouter un asset") }}" class="btn btn-icon btn-primary">
                <svg class="icon-plus"><use xlink:href="#icon-plus"></use></svg>
            </a>
        </div>

        {% if assets|length %}
            <div class="assets-table-container">
                <div><a href="#" class="js-toggle-translated-assets">{{ 'label.toggle_translated_assets' | trans | desc("Afficher/masquer les assets déjà traduits") }}</a></div>
                <div class="assets-table">
                    <div class="assets-table__head">
                        <div class="row">
                            <div class="col-sm-5 -id">{{ 'label.resname' | trans | desc('Id') }}</div>
                            <div class="col-sm-7 -source">{{ 'label.source' | trans | desc('Source') }}</div>
                        </div>
                    </div>
                    <div class="assets-table__body" data-locales="{{ domain.locales|join(',') }}">
                        {% for asset in assets %}
                            {% set fully_translated = asset.isFullyTranslated(domain.locales) %}
                            <div class="row translation-row js-translation-row{% if not fully_translated %} -pending{% endif %}{% if asset.id == select %} -active{% endif %}"
                                {% for locale in domain.locales %}data-{{ locale.code }}="{{ asset.translate(locale.code) }}" {% endfor %}
                                data-notes="{{ asset.notes }}"
                                data-id="{{ asset.id }}"
                            >
                                <div class="col-sm-5 -id">{{ asset.resname }}</div>
                                <div class="col-sm-7 -source">{{ asset.source }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <section class="row translation js-translation-section">
                <div class="col-md-9 col-sm-12">
                    <form class="translate-form" action="{{ path('ajax_translate', {'domain': domain.id, 'project': project.id}) }}">
                        <input type="hidden" name="id" class="js-asset-id"/>
                        {% for locale in domain.locales %}
                            <div class="form-row translate-form__translation">
                                <label for="{{ locale.code }}">
                                    <img src="{{ asset('/img/flags/' ~ locale.code ~ '.png') }}" alt=""/>
                                    {{ locale.name }} ({{ locale.code }})
                                </label>
                                <textarea name="translation[{{ locale.code }}]" id="{{ locale.code }}" rows="10" class="js-translate-field"></textarea>
                                <div class="translate-form__message -success js-translation-success">
                                    {{ 'flash.translation_success' | trans | desc("La traduction a été sauvegardée avec succès !") }}
                                </div>
                                <div class="translate-form__message -error js-translation-error">
                                    {{ 'flash.translation_error' | trans | desc("Une erreur est survenue lors de la sauvegarde de la traduction.") }}
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="asset-form">
                        {{ form_start(form) }}
                            {{ form_row(form.notes) }}
                            {{ form_row(form.id) }}
                            <div class="form-actions">
                                <button type="submit" name="delete" value="delete" class="btn btn-error btn-icon" title="{{ 'label.delete' | trans | desc("Supprimer") }}">
                                    <svg class="icon-trash-bin"><use xlink:href="#icon-trash-bin"></use></svg>
                                </button>
                                <button type="submit" name="comment" class="btn btn-primary">
                                    {{ 'label.comment_action' | trans | desc("Commenter") }}
                                </button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </section>
        {% else %}
            <div class="container-fluid">
                <p>{{ 'label.no_assets' | trans | desc("Aucun asset n'a encore été ajouté à ce domaine.") }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
