{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div {{ block('form_row_attributes') }}>
            {{ form_label(form) }}
            {{ form_widget(form, { 'attr' : attr|default({}) }) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="error_list">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{% block form_row_attributes %}
    {% spaceless %}
        class="form-item form-item--{{ form.vars.name }}
        {% if required %}form-item--required{% endif %}
        {% if errors|length > 0 %}form-item--error{% elseif value is not empty %}form-item--valid{% endif %}"
    {% endspaceless %}
{% endblock form_row_attributes %}

{% block checkbox_row %}
    <div {{ block('form_row_attributes') }}>
        {{- form_widget(form) }}
        {{ form_label(form) -}}
    </div>
    {{- form_errors(form) -}}
{% endblock checkbox_row %}
