{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="container-fluid">
        <h2>{{ 'label.new_project_title' | trans() | desc("Nouveau projet") }}</h2>

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.users) }}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    {{ 'label.create_action' | trans | desc("Valider") }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
