{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="container-fluid">
        <h2>{{ 'label.login_title' | trans | desc("Se connecter") }}</h2>

        <section class="login-form">
            <form action="{{ path('login') }}" method="post">
                <div class="form-row">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'label.username' | trans | desc("Adresse e-mail") }}" />
                </div>

                <div class="form-row">
                    <input type="password" id="password" name="_password" placeholder="{{ 'label.password' | trans | desc("Mot de passe") }}" />
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-block">{{ 'label.login' | trans | desc("Connexion") }}</button>
                </div>

                {% if error %}
                    <div class="message -error">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            </form>
        </section>
    </div>
{% endblock %}
