{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="container-fluid">
        <h2>{{ 'label.export_title' | trans({'%domain%': domain}) | desc("Exporter les traductions de '%domain%'") }}</h2>

        {{ form_start(form) }}
            {{ form_row(form.targetType) }}
            {{ form_row(form.localeCode) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {{ 'label.download' | trans | desc("Télécharger") }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
