{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="main-content__title">
        <h1 class="h2">{{ 'label.export_title' | trans({'%domain%': domain}) | desc("Exporter les traductions de '%domain%'") }}</h1>
    </div>
    <div class="container-fluid">
        {{ form_start(form) }}
            {{ form_row(form.targetType, {'attr': {'class': 'js-export-type'}}) }}

            <div class="js-xliff-options">
                {{ form_row(form.xliffVersion) }}
            </div>

            {{ form_row(form.localeCode) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-dark">
                {{ 'label.download' | trans | desc("Télécharger") }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
