{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="container-fluid">
        <h2>{{ 'label.new_asset_title' | trans({'%domain%': domain}) | desc("Nouvel asset pour '%domain%'") }}</h2>

        {{ form_start(form) }}
            {{ form_row(form.resname) }}
            {{ form_row(form.source) }}
            {{ form_row(form.notes) }}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    {{ 'label.create_action' | trans | desc("Valider") }}
                </button>
            </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
